{% extends "base.html" %}

{% block title %}
    {{super()}}
    | Home Administrador Registrar Usuarios
{% endblock title %}

{% block headcontent %}
    <link rel="stylesheet" href={{url_for('static', filename='/css/navbar.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='/css/index.css')}}>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock headcontent %}

{% block header %}
    <header>
        <a id="logo-lema" href="" class="logo">
            <img src="{{url_for('static', filename='/img/Logo-Buap-Blanco.png')}}" alt="BUAP">
            <h2 class="Lema">BUAP <br>Clasificador de Comentarios</h2>
        </a>
        <div class="navbar">
            <nav class="menu">
                <a href="{{ url_for('blog.index') }}" class="nav-link">Inicio</a>
                <a href="{{ url_for('blog.index') }}" class="nav-link">Sobre Nosotros</a>
                <a href="{{ url_for('blog.index') }}" class="nav-link">Proyectos</a>
                <a href="{{ url_for('blog.index') }}" class="nav-link">Contacto</a>
                {% if g.user %}
                    <a class="action" href = "{{ url_for('auth.logout') }}" > Salir </a>
                {% endif %}
            </nav>
        </div>
        <a href=""  class="logo" id="hard"><i class='bx bx-menu'></i></a>
    </header>  
{% endblock header %}

{% block content %}
    <div class="blog">
        <h1>Bienvenido Administrador</h1>
        {% if g.user %}
        
        <p>{{ g.user['username'] }}</p> 

            {% for todo in todos  %}
                <h1>
                    {{ todo['user_id'] }}
                </h1>
                <h1>
                    {{ todo['preparatoria'] }}
                </h1>
        
                {% if not loop.last %}
                    <hr>
                {% endif %}

            {% endfor %}
            <div class="menu2">
                <div class="excel">  
                    <h1>Registrar Alumnos desde Excel</h1>
                    <form method="POST"  enctype="multipart/form-data">
                        <input type="file" name="file" id="file">
                        <input id="buton" type="submit" value="Registrar">
                    </form>
                </div>
                <div class="formulario">
                    <h1><a href = "{{ url_for('auth.register') }}">Registrar Alumnos desde Formulario</a></h1>
                </div>
            </div>
        {% endif %}
        
    </div>
 <br>
{% endblock content %}